/* Big Tab of 1024px to 1200px */
@media only screen and (max-width: 1200px){
    .text-box-of-hero{
        padding: 0 2%;
        width : 100%;
    }
    
    .row{
        padding : 0 2%;
    }

}

/* Small Tab  to Big Tab of 768px to 1023px */
@media only screen and (max-width: 1023px){
    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        font-size: 18px;
    }
    
    .row{
        padding : 0 2%;
    }

    h2{
        margin-bottom: 3%;
    }
    .text-box-of-hero{
        width : 100%;
        margin: 0px;
        
    }

    .button:link,
    .button:visited{
    margin-right: 10px;
    padding: 13px 13px;
    }

    

    .long-copy{
        line-height: 145%;
        width : 84%;
        margin: 0 8%;
        margin-bottom: 3%;
    }

    .boxes .box:nth-child(3) h3{
        margin-bottom: 23%;
    }

    .app-screen{
        width: 50%;
    }

    .app-buttons img{
        margin-top: 0px;
    }

    .working-item:last-child{
        margin-top : 35px;
        width: 49.2%;
       
    }

    .sect-cities{
        margin-top: 50px;
    }

    .sect-cities .row h2{
        margin-bottom: 40px;
    }

    .city img{
        margin-bottom: 5px;
        width: 96%;
    }

    .city figure figcaption{
        margin: 0 auto 10px 0;
        width : 70%;
        font-size: 110%;
        
    }

    .city-feature{
        font-size: 95%;
    }
    
    .customer{
        margin: 0 2% 0 0;
    }

    .sect-sign-up{
        padding : 50px 0;
    }

    .sect-sign-up h2{
        padding : 0 0 10px 0;
    }

    .plans{
        margin: 0 1%;
    }

    .user form{
        width: 80% !important;
        margin : 0 auto;
    }

    footer{
        margin: 40px 0 0 0;
    }
}


/* Small phones to small tabs of 481px to 767px */
@media only screen  and (max-width: 767px){

    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        font-size: 16px;
    }

    .main-nav{
        display: none;
    }

    
    .non-sticky .mobile-navicon i{
        display: inline-block;
    }

    .main-nav{
        float: left; 
        /* display: none; */
        margin-right: 40%;
    }

    .main-nav li{
        display: block;
        
    }

    .main-nav .button:link,
    .main-nav .button:visited{
        padding: 10px 0;
    }

    .main-nav .button:hover,
    .main-nav .button:active{
        background-color: rgba(0, 0, 0, 0);
    }

    .sticky{
        height: 70px;
    }

    .sticky .main-nav{
        right:1%;
        top:1%;
    }
    
    .sticky .main-nav li a{
        font-size: 80%;
        text-transform: uppercase;
        top: 10px;
        color: black;
        
    }
    
    .sticky .logo-white{
        display: none;
    }
    
    .sticky .logo-black{ 
        margin: 3px;
        top: 7px;
        float: left;
        width: auto;
        height: 60px;
    }
    
    
    .sticky .button:hover,
    .sticky .button:active{
        background-color: rgba(0, 0, 0, 0);
        
    }

    .sticky .mobile-navicon{
        display: inline-block;
        float: right;
        cursor: pointer;
        margin-top: 10px;
        
    }

    .sticky .mobile-navicon i{
        font-size: 200%;
        color: black;
    }

    .row{
        padding: 0 4%;
    }

    .col{width: 100%;}

    h2{
        margin-bottom: 5%;
    }

    .long-copy{
        width : 92%;
        margin: 0 4%;
    }

    .icon-big{
        
        margin-bottom: 2%;
    }

    h3{
        margin-bottom: 3%;
    }

    .icon-big,h3{
        text-align: center;
    }

    .boxes .box:nth-child(3) h3{
        margin-bottom: 3%;
    }

    .boxes p{
        font-size: 100%;
        text-align: justify;
    }

    .sect-working h2{
        width: 90%;
        padding-top: 5%;
        margin: 0 5%;
    }

    .working-demo{
    
        display:flex;
        flex-direction: column;
    }

    .working-item:first-child{
        width: 70%;
    }

    .working-item:last-child{
        width: 100%;

    }

    .working-des{
        margin-bottom: 20px;
    }

    .sect-cities{
        margin-top: 20px;
        margin-bottom: 30px;

    }

    .cities-des{
        text-align: center;
        flex-direction: column;
    }

    .city{
        width: 90%;
        margin: 0 5%;
    }

    .cities-des .city:first-child{
        width: 90%;
        margin: 0 5%;
    }

    .city figure figcaption{
        margin: 0 auto;
        font-size: 150%;
        text-align: center;
        
    }

    .city-feature{
        font-size: 125%;
        text-align: center;
        margin: 0 auto;
    }

    .sect-cus-test{
        padding: 40px 0 0px 0;
    }

    .sect-cus-test h2{
        padding: 0;
    }

    .cust-voice{
        
        flex-direction: column;
    }

    .customer{
        width: 100%;
        padding: 0 1%;
        margin-bottom:6%;
    }

    .customer::before{
        display: none;
    }

    .cust-id img{
        
        margin : 0;
        width : 10%;
        
        
    }

    .sect-sign-up{
        padding: 30px 0;
    }

    .sign-up{
        flex-direction: column;
    }

    .sect-sign-up h2{
        padding:  0 0 5px 0;
        margin-bottom: 2%;
    }

    .plans,.plan-des{
        width: 100%;
    }

    .plans{
        margin: 2% auto;
    }

    .user form{
        width: 90% !important;
        margin : 0 auto;
    }

    

}

/* Small phones of 0 to 480px */
@media only screen and (max-width: 480px){
    .user form{
        width: 100% !important;
        margin : 0 auto;
    }
}